<div id="container">
  <mat-card *ngIf="todos$ | async; else loading">
    <mat-card-title>
      Todos
      <button mat-icon-button (click)="openTodoDialogCreation()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos$ | async">
          <h4 matLine>
            <mat-checkbox
              [checked]="todo.isClosed"
              (change)="changeCheckboxStatus($event, todo)"
            ></mat-checkbox>
            <span *ngIf="!todo.isClosed; else crossedOut">
              {{ todo.title }}
            </span>
            <ng-template #crossedOut>
              <del> {{ todo.title }} </del>
            </ng-template>
            <a mat-icon-button [routerLink]="['/todos/details', todo.id]">
              <mat-icon>visibility</mat-icon>
            </a>
          </h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <ng-template #loading>
    <mat-spinner [diameter]="30"></mat-spinner>
  </ng-template>
</div>
